<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">
    <select id="obtenerEmpresas" resultType="pojos.Empresa">
        SELECT *   
        FROM empresa
    </select>
    
    <insert id="registrarEmpresa" parameterType="pojos.Empresa">
        INSERT INTO empresa (nombre, nombreComercial, nombreRepresentante, correo, calle, numero, codigoPostal, ciudad, telefono, paginaWeb, rfc, idEstatus)
        VALUES (#{nombre}, #{nombreComercial}, #{nombreRepresentante}, #{correo}, #{calle}, #{numero}, #{codigoPostal}, #{ciudad}, #{telefono}, #{paginaWeb}, #{rfc}, #{idEstatus})
    </insert>
    
    <update id="modificarEmpresa" parameterType="pojos.Empresa">
        UPDATE empresa SET nombre = #{nombre}, nombreComercial = #{nombreComercial}, nombreRepresentante = #{nombreRepresentante}, correo = #{correo}, calle = #{calle}, numero = #{numero}, codigoPostal = #{codigoPostal}, ciudad = #{ciudad}, telefono = #{telefono}, paginaWeb = #{paginaWeb}, idEstatus = #{idEstatus}
        WHERE idEmpresa =  idEmpresa
    </update>
    
    <delete id="eliminarEmpresa"  parameterType="int">
       DELETE FROM empresa WHERE idEmpresa = #{idEmpresa}
    </delete>
    


</mapper>