<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promociones">
    
    <insert id="registrarPromocion" parameterType="pojos.Promocion" useGeneratedKeys="true" keyProperty="idPromocion">
        <selectKey keyColumn="idPromocion" keyProperty="idPromocion" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
            INSERT INTO promocion (nombrePromocion, descripcion,  fechaInicio, fechaTermino, restricciones, idTipoPromocion, porcentajeDescuento, costoPromocion, idCategoria, idEstatus, idSucursal)
            VALUES (#{nombrePromocion}, #{descripcion}, #{fechaInicio}, #{fechaTermino}, #{restricciones}, #{idTipoPromocion}, #{porcentajeDescuento}, #{costoPromocion}, #{idCategoria}, #{idEstatus}, #{idSucursal})
    </insert>
    

</mapper>